stages:
  - lint
  - build
  - test

variables:
  GIT_SUBMODULE_STRATEGY: normal
  
buildah:
  image: centos:latest
  stage: build
  before_script:
    - dnf install -y buildah
    - buildah login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - buildah bud --storage-driver vfs --isolation chroot -f Dockerfile -t "$CI_REGISTRY_IMAGE:${CI_COMMIT_REF_SLUG/master/latest}" .
    - buildah push --storage-driver vfs "$CI_REGISTRY_IMAGE:${CI_COMMIT_REF_SLUG/master/latest}"
#  rules:
#    - changes:
#        - Dockerfile
#        - flows/

internal:
  image: "$CI_REGISTRY_IMAGE:latest"
  stage: test
  script:
    - unreached
  when: manual

downloads:
  image: debian:latest
  services:
    - name: "$CI_REGISTRY_IMAGE:latest"
      alias: node-red
  stage: test
  before_script:
    - apt-get update
    - apt-get install -y curl
  script:
    - curl -v http://node-red/
    - curl -v http://node-red/download/Root/ca.crt.pem

chain:
  image: debian:latest
  services:
    - name: "$CI_REGISTRY_IMAGE:latest"
      alias: node-red
  stage: test
  before_script:
    - apt-get update
    - apt-get install -y curl openssl
  script:
    - curl http://node-red/download/Root/ca.crt.pem > root.crt.pem
    - curl http://node-red/download/Sub/ca.crt.pem > sub.crt.pem
    - openssl verify -verbose -check_ss_sig -CAfile root.crt.pem sub.crt.pem

crls:
  image: debian:latest
  services:
    - name: "$CI_REGISTRY_IMAGE:latest"
      alias: node-red
  stage: test
  before_script:
    - apt-get update
    - apt-get install -y curl openssl
  script:
    - curl http://node-red/download/Root/ca.crt.pem > root.crt.pem
    - curl http://node-red/download/Root/crl.pem > root.crl.pem
    - openssl crl -CAfile root.crt.pem -noout -text -in root.crl.pem -verify
    - curl http://node-red/download/Sub/ca.crt.pem > sub.crt.pem
    - curl http://node-red/download/Sub/crl.pem > sub.crl.pem
    - openssl crl -CAfile sub.crt.pem -noout -text -in sub.crl.pem -verify
    
ocsp:
  image: debian:latest
  services:
    - name: "$CI_REGISTRY_IMAGE:latest"
      alias: node-red
  stage: test
  before_script:
    - apt-get update
    - apt-get install -y curl openssl
    - curl http://node-red/download/Root/ca.crt.pem > root.crt.pem
    - curl http://node-red/download/Sub/ca.crt.pem > sub.crt.pem
    - curl http://node-red/download/Sub/ocsp.crt.pem > ocsp.crt.pem
  script:
    - openssl ocsp -CAfile root.crt.pem -issuer sub.crt.pem -trust_other -cert ocsp.crt.pem -url http://node-red/ocsp/Sub/

https:
  image: debian:latest
  services:
    - name: "$CI_REGISTRY_IMAGE:latest"
      alias: nodejs.rz-bsd.my.corp
  stage: test
  variables:
    FF_NETWORK_PER_BUILD: 1
  before_script:
    - apt-get update
    - apt-get install -y curl openssl
    - curl http://nodejs.rz-bsd.my.corp/download/Root/ca.crt.pem > root.crt.pem
  script:
    - openssl s_client -showcerts -CAfile root.crt.pem -connect nodejs.rz-bsd.my.corp:443 </dev/null
    - openssl s_client -showcerts -connect nodejs.rz-bsd.my.corp:443 | openssl x509 -noout -text

acme:
  image: debian:latest
  services:
    - name: "$CI_REGISTRY_IMAGE:latest"
      alias: nodejs.rz-bsd.my.corp
  stage: test
  variables:
    FF_NETWORK_PER_BUILD: 1
    CERTBOT_DIR: certbot
    CERTBOT_ARGS: "--config-dir=${CERTBOT_DIR}/etc/ --work-dir=${CERTBOT_DIR}/work/ --logs-dir=${CERTBOT_DIR}/log/ --server=https://nodejs.rz-bsd.my.corp/acme/Sub/"
  before_script:
    - apt-get update
    - apt-get install -y certbot curl
    - curl http://nodejs.rz-bsd.my.corp/download/Root/ca.crt.pem > root.crt.pem
    - curl http://nodejs.rz-bsd.my.corp/download/Sub/ca.crt.pem > sub.crt.pem
  script:
    - export REQUESTS_CA_BUNDLE=$(pwd)/root.crt.pem
    - echo ${REQUESTS_CA_BUNDLE}
    - NAME=$(hostname -f)
    - echo ${NAME}
    - certbot register ${CERTBOT_ARGS} --no-eff-email --email=node@my.corp --agree-tos
    # - certbot certonly ${CERTBOT_ARGS} --standalone -d ${NAME}
    # - certbot revoke ${CERTBOT_ARGS} --no-delete-after-revoke --cert-path "${CERTBOT_DIR}/etc/live/${NAME}/cert.pem"
    # - openssl ocsp -CAfile root.crt.pem -issuer sub.crt.pem -trust_other -cert "${CERTBOT_DIR}/etc/live/${NAME}/cert.pem" -url http://nodejs.rz-bsd.my.corp/ocsp/Sub/
  artifacts:
    when: on_failure
    paths:
      - ${CERTBOT_DIR}/log/