repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: detect-private-key
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
#  - repo: git://github.com/detailyang/pre-commit-shell
#    rev: v1.0.6
#    hooks:
#    - id: shell-lint
#      args: [--format=json]

